@page "/"
@rendermode InteractiveServer
@inject IToastService toastService

<PageTitle>Juan_AmparoAP2_P2</PageTitle>

<h1>Juan Carlos Amparo Fermin <b>(2023-0762)</b></h1>
<p>Primer Parcial Programaci&oacute;n Aplicada 2</p>

<button class="btn btn-primary mt-3" @onclick="MostrarNotificacion">
    Agregar
</button>

@code {
    private void MostrarNotificacion()
    {
        // Puedes cambiar ShowInfo por ShowSuccess si la prefieres verde
        toastService.ShowInfo("¡Has hecho clic en agregar!");
    }
}